* {
  margin: 0px;
  padding: 0px;
}

.common-class{
    max-width: 1300px;
    margin: 0 auto;

}

.common-button{
     margin: 10px 10px;
    padding: 10px 30px;    
    background-color: #1D4ED8;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF  ;
    border: none;
    
}

  img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    
  }
/* nav-bar-start */

header{
    background-color: #FFFFFF;
    /* border: 1px solid black; */
}
.nav-bar {
  /* display: grid;
        grid-template-columns: 1fr auto; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0px;
}

.nav-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  gap: 10px;
}

.nav-button a {
  text-decoration: none;
  color: #575757;
}


                 /* nab-bar-end */

                                      
                                /* hero-banner-start */
     .hero-banner{

        background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), 
        url('./assets/images.png');
       height: 90vh;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        
     }            

         .hero-text{
              /* margin: 150px auto; */
              margin-top: 140px;
              padding: 20px 20px;
              

         }

         .button-div{
            /* margin: 50px auto; */

            margin-bottom: 100px;
              padding: 20px 20px;
         }

         .hero-text h1{

            color: #FFFFFF;
            font-size: 70px;
            font-weight: bold;
         }

         .hero-text p{

               color: #E6E6E6;
               font-size: 18px;
               font-weight: 600;
               line-height: 1;
               word-spacing: 4px;
         }

         .button-banner{

            padding: 20px 45px ;
            font-size: 24px;
            font-weight: bold;
         }


                  /* hero-banner-end  */

                     /* Meet the Speakers-start  */

                      .meet-speakers{

                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        gap: 20px;
                       
                        
                      }

                      .meet-h2{
                        text-align: center;
                        font-size: 45px;
                        font-weight: bold;
                        margin: 30px 0px 15px;
                        padding: 20px;
                        color: #000102;
                      }

                      .meet-speakers div{

                        border: 1px solid #E5E7EB;
                        border-radius: 13px !important;
                         padding: 0px 0px 20px 0px;
                        /* box-shadow: 0 2px 8px rgba(0,0,0,0.08); */
                        
                            overflow: hidden;


                      }

                      .meet-speakers div .fast{

                         color: #2563EB;
                         font-size: 12px;
                         font-weight:600;

                         padding: 30px 15px 8px ;
                      }

                      .meet-speakers div .second{

                        color: #0D1B2A;
                        font-size: 20px;
                        font-weight: bold;
                         padding: 12px 15px 8px;
                      }

                      .meet-speakers div .thred{
                            color: #575757;
                            font-size: 14px;
                            font-weight: 700;
                            padding: 12px 15px 8px;

                      }

                      /* Meet the Speakers-end  */

                      /* start-Secure-Your-Spot */

                      .mather-card{

                        display: grid;
                        grid-template-columns: repeat(3,350px);
                         /* gap: 1px; */
                         justify-content: center;

                         
                       
                        
                      }

                      .card-heard{
                        padding-top: 80px;
                        padding-bottom: 35px;
                        align-items: center;
                        text-align: center;
                        
                      }

                      .card-heard h2{
                        font-size: 48px;
                        font-weight: bold;
                        color: #0D1B2A;
                        margin-bottom: 7px;
                      }
                      .card-heard p{
                        font-size: 16px;
                        font-weight: 600;
                        color: #575757;
                      }

                       .mather-card div{

                        background-color: #FFFFFF;
                        border-radius: 10px;
                        border: 1px solid #E5E7EB;
                         overflow: hidden;
                         padding: 30px 25px 20px 25px !important;
                           margin: 15px;

                       }

                       .mather-card div .fast-p{

                         font-size: 20px;
                         font-weight: 700;
                         /* padding: 10px;
                         margin: 10px; */
                         margin-bottom: 7px;
                       }

                       .mather-card div h1{

                           font-size: 44px;
                           font-weight: bold;
                           margin-bottom: 5px;
                       }

                       .mather-card div p{

                        font-size: 20px;
                        font-weight: 400;
                        margin-bottom: 20px;
                        color: #888888;
                       }
                      .mather-card div li{

                        font-size: 14px;
                        font-weight: 400;
                        /* padding: 20px; */
                        margin-left: 18px;
                        margin-top: 15px;
                        color: #333333;
                        

                      }
                        

                     
                        

                      .second-card{
                       background-color: #0D1B2A !important;
                       

                       color: #FFFFFF;
                     }
                       .therd-card{
                        background-color: #F8F9FB !important; 

                       }
                     
                     .second-card .fast-p{
                      color: #93C5FD;
                     }
                     .second-card p{
                      color: #868D95;
                     }
                      .second-card li{
                        color: #CFD1D4 !important;
                      }

                     .mather-card li::marker{

                      color: #2563EB !important;
                     }

                     .secure-1{
                        color: #2563EB !important;
                        border: 1px solid #2563EB !important;
                        background-color: #FFFFFF !important;

                     }
                     .secure-2{
                        
                          background-color: #2563EB !important;
                     }
                   .secure{

                    width: 100%;
                    padding: 7px;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 15px;
                    color: #0D1B2A;
                 border-radius: 8px;
                 border: 1px solid #0D1B2A;
                 background-color: #F8F9FB;

                   }

                   /* end-Secure-Your-Spot */